.vscode/*
!.vscode/launch.json
.idea
*.pyc
*.db
*.swp
__pycache__
dicts/credentials.json
dicts/data.json
attendances.*
sync_flag.*
test.py
src/pip-delete-this-directory.txt
dicts/deviceCustomization.json
dicts/deviceCustomizationPrior.json
dicts/dataEtRH.json
dicts/dataLuiS.json
dicts/deviceCustomizationLuis.json
.env
data/ras3.log
iw
iw00
iw01
iw02
list_APs.txt
