.vscode/*
!.vscode/launch.json
.idea
*.pyc
*.db
*.swp
__pycache__
dicts/credentials.json
dicts/data.json
attendances.*
sync_flag.*
test.py
src/pip-delete-this-directory.txt
dicts/deviceCustomization.json
dicts/deviceCustomizationPrior.json
dicts/dataEtRH.json
dicts/dataLuiS.json
dicts/deviceCustomizationLuis.json
*.code-workspace
.env
reallyOldLauncher.py
data/ras3.log
killme.txt
