<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ _('Configuration portal') }}</title>
  <link href='http://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="static/main.css?version=1">
</head>

<body>
  <form action="/result" method="post" id="testform">

    <h1>{{ _('Configuration portal') }}</h1>
    <fieldset>
      <legend><span class="number">1</span>{{ _('Odoo Parameters') }}</legend>
      <label for="name">{{ _('Odoo Host:') }}</label>
      <input type="text" id="odoo_host" name="odoo_host">
      <label for="name">{{ _('Port:') }}</label>
      <input type="text" id="odoo_port" name="odoo_port">
      <label for="user">{{ _('Username:') }}</label>
      <input type="text" id="user" name="user_name">
      <label for="password">{{ _('Password:') }}</label>
      <input type="password" id="password" name="user_password">
      <label for="db">{{ _('Database:') }}</label>
      <input type="text" id="db" name="db">
      <label for="admin_id">Admin ID:</label>
      <input type="text" id="admin_id" name="admin_id">
      <label for="timezone">{{ _('Country:') }}</label>
      <select name="timezone" form="testform">
        <option value="-12:00">(GMT -12:00) Eniwetok, Kwajalein</option>
        <option value="-11:00">(GMT -11:00) Midway Island, Samoa</option>
        <option value="-10:00">(GMT -10:00) Hawaii</option>
        <option value="-09:50">(GMT -9:30) Taiohae</option>
        <option value="-09:00">(GMT -9:00) Alaska</option>
        <option value="-08:00">(GMT -8:00) Pacific Time (US &amp; Canada)</option>
        <option value="-07:00">(GMT -7:00) Mountain Time (US &amp; Canada)</option>
        <option value="-06:00">(GMT -6:00) Central Time (US &amp; Canada), Mexico City</option>
        <option value="-05:00">(GMT -5:00) Eastern Time (US &amp; Canada), Bogota, Lima</option>
        <option value="-04:00">(GMT -4:00) Atlantic Time (Canada), Caracas, La Paz</option>
        <option value="-03:50">(GMT -3:30) Newfoundland</option>
        <option value="-03:00">(GMT -3:00) Brazil, Buenos Aires, Georgetown</option>
        <option value="-02:00">(GMT -2:00) Mid-Atlantic</option>
        <option value="-01:00">(GMT -1:00) Azores, Cape Verde Islands</option>
        <option value="+00:00" selected="selected">(GMT) Western Europe Time, London, Lisbon, Casablanca</option>
        <option value="+01:00">(GMT +1:00) Brussels, Copenhagen, Madrid, Paris</option>
        <option value="+02:00">(GMT +2:00) Kaliningrad, South Africa</option>
        <option value="+03:00">(GMT +3:00) Baghdad, Riyadh, Moscow, St. Petersburg</option>
        <option value="+03:50">(GMT +3:30) Tehran</option>
        <option value="+04:00">(GMT +4:00) Abu Dhabi, Muscat, Baku, Tbilisi</option>
        <option value="+04:50">(GMT +4:30) Kabul</option>
        <option value="+05:00">(GMT +5:00) Ekaterinburg, Islamabad, Karachi, Tashkent</option>
        <option value="+05:50">(GMT +5:30) Bombay, Calcutta, Madras, New Delhi</option>
        <option value="+05:75">(GMT +5:45) Kathmandu, Pokhara</option>
        <option value="+06:00">(GMT +6:00) Almaty, Dhaka, Colombo</option>
        <option value="+06:50">(GMT +6:30) Yangon, Mandalay</option>
        <option value="+07:00">(GMT +7:00) Bangkok, Hanoi, Jakarta</option>
        <option value="+08:00">(GMT +8:00) Beijing, Perth, Singapore, Hong Kong</option>
        <option value="+08:75">(GMT +8:45) Eucla</option>
        <option value="+09:00">(GMT +9:00) Tokyo, Seoul, Osaka, Sapporo, Yakutsk</option>
        <option value="+09:50">(GMT +9:30) Adelaide, Darwin</option>
        <option value="+10:00">(GMT +10:00) Eastern Australia, Guam, Vladivostok</option>
        <option value="+10:50">(GMT +10:30) Lord Howe Island</option>
        <option value="+11:00">(GMT +11:00) Magadan, Solomon Islands, New Caledonia</option>
        <option value="+11:50">(GMT +11:30) Norfolk Island</option>
        <option value="+12:00">(GMT +12:00) Auckland, Wellington, Fiji, Kamchatka</option>
        <option value="+12:75">(GMT +12:45) Chatham Islands</option>
        <option value="+13:00">(GMT +13:00) Apia, Nukualofa</option>
        <option value="+14:00">(GMT +14:00) Line Islands, Tokelau</option>
      </select>
      <label for="https">{{ _('Click the checkbox if your Odoo employs HTTPS:') }} </label>
      <input type="checkbox" id="https" value="https" name="https"><label class="light" for="https"></label><br>
    </fieldset>

    <fieldset>
      <legend><span class="number">2</span>{{ _('Update software?') }}</legend>
      <label>{{ _('By clicking this checkbox, the software would be updated when you send the configuration') }}
      </label>
      <input type="checkbox" id="update" value="update_software" name="update"><label class="light" for="update"></label><br>
    </fieldset>
    <fieldset>
      <legend><span class="number">3</span>{{ _('Go!') }}</legend>
      <button type="submit">{{ _('Configure!') }}</button>
      <button type="reset">{{ _('Reset parameters') }} </button>
    </fieldset>

  </form>

</body>

</html>