<link rel="stylesheet" href="/static/style.css" type="text/css">
{% block body %}
{% if session['logged_in'] %}
<p>You're logged in already!</p>
{% else %}


<form action="/login" method="POST" id="loginform">
	<div class="login">
		<div class="login-screen">
			<div class="app-title">
				<h1>{{ _('Log in') }}</h1>
			</div>

			<div class="login-form">
				<div class="control-group">
					<input type="text" class="login-field" value="" placeholder="{{ _('username') }}" name="username">
					<label class="login-field-icon fui-user" for="login-name"></label>
				</div>

				<div class="control-group">
					<input type="password" class="login-field" value="" placeholder="{{ _('password') }}" name="password">
					<label class="login-field-icon fui-lock" for="login-pass"></label>
				</div>

				<button type="submit" name="Log in" value="Log in" class="btn btn-primary btn-large btn-block">{{ _('Log in') }}</button>
				<button type="submit" name="Reset credentials" value="Reset credentials" class="btn btn-primary btn-large btn-block">{{
					_('Reset Credentials') }}</button>
				<button type="submit" name="Change language" value="Change language" class="btn btn-primary btn-large btn-block">{{
					_('Change language') }}</button>
				<div class="control-group">
					<label color="red" for="language">{{ _('Language:') }}</label>
					<select name="language" form="loginform">
						<option value="en">{{ _('English') }}</option>
						<option value="es">{{ _('Spanish') }}</option>
					</select>
				</div>
			</div>
		</div>
	</div>
</form>

{% endif %}
{% endblock %}