/* *, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
} */

.container-fluid {
  padding: 3% 15%;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #00a8cc;
  color: #27496d;
}

form {
  /* max-width: 300px;
  margin: 10px auto;
  padding: 10px 20px; */
  background: #ffffff;
  border-radius: 5%;
}

h1 {
  margin: 0 0 30px 0;
  text-align: center;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
select[type="timezone"],
textarea,
select {
  background: #27496d;
  border: 2px solid transparent;
  border-radius: 10px;
  font-size: 16px;
  /* height: auto;
  margin: 0;
  outline: 0;
  padding: 15px; */
  /* width: 100%; */
  background-color: #00a8cc;
  color: white;
  /* box-shadow: 0 1px 0 #27496d inset; */
  /* margin-top:10px;
  margin-bottom: 30px; */
}

/* input[type="radio"],
input[type="checkbox"] {
  margin: 15px 0px 45px 0px;
  transform: scale(1.8);
} */

select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}

button {
  /* padding: 15px 40px 15px 40px; */
  color: white;
  background-color: #27496d;
  /* font-size: 28px;
  text-align: center; */
  /* border-radius: 20px; */
  /* width: 200px; */
  /* border: 10px solid #27496d; */
  /* border-width: 10px; */
  /* margin: auto; */
}

fieldset {
  margin-bottom: 30px;
  border: none;
}

legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}

/* /* label {
  display: block;

} */

/* label.textcheckbox {

  display: inline;
} */

.number {
  background-color: #00a8cc;
  color: #ffffff;
  height: 50px;
  width: 50px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 black;
  border-radius: 100%;
}

.info {
  color: #00a8cc;
  font-size: 12px;
}

/* .textcheckbox {
  position: relative;
  margin: 0px 0px 10px 10px; 
} */

/* .btn-sm {
  padding: 8px 20px 8px 20px;
  color: white;
  background-color: #00a8cc;
  font-size: 14px;
  text-align: center;
  border-radius: 20px;
  width: 100px;
  border: 10px solid #27496d;
  margin: auto;
} */

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

/* @media screen and (min-width: 480px) {

  form {
    max-width: 480px;
  }

} */

