body {
   font-family: 'Roboto', sans-serif;
   text-align: center;
   background-color: #c5f5ff;
 }

.left-aligned {
  text-align: left;
}

.container-fluid{
  padding: 1% 15%;
}

.double-top-padding {
  padding: 1% 15% 1% 15%;
}

.table-strip {
  font-size: 2.5rem;
 }

 .rowTitle {
  background-color: #0c7b93;
  color: white;
}

 .rowStrip {
  background-color: darkgray;
  color: white;
}


.logo-padding {
  padding: 2% 15% 3% 15%; 
}

.formField{
  font-size: 2.5rem;
  border-radius: 5px;
}

.custom-button-submit {
  background-color: #0c7b93;
  color: white;
  border-color: orange;
  border-width: 6px;
}

.bton-secondary {
  background-color: #27496d;
  color:   #00cbf6;
  /* color:   #00a8cc; */
}

.labelGrey {
  color: grey;
  font-size: 1.8rem;
}

::placeholder { 
  color: #d4d8d8; 
  opacity: 1; 
}

.checkbox-label {
    margin-left: 0.9rem;
    font-size: 2.5rem;
}

.checkbox-input {
    width: 2.5rem;
    height: 2.5rem;
}

@media (min-width: 990px) {

  .formField{
    font-size: 1rem;
  }

  .table-strip {
    font-size: 1rem;
   }

  .logoSize {
    max-width:20%;
  }

  .checkbox-label {
    margin-left: 0.5rem;
    font-size: 1rem;
  } 

  .checkbox-input {
      width: 1rem;
      height: 1rem;
  }

  .labelGrey {
    color: grey;
    font-size: 0.8rem;
  }

}