body {
   font-family: 'Roboto', sans-serif;
   text-align: center;
   background-color: #00cbf6;
 }

.container-fluid{
  padding: 1.5rem 0 1.5rem 0;
}

.formField{
  font-size: 2.5rem;
  border-radius: 5px;
}

.bton-secondary {
  background-color: #27496d;
  color:   #00cbf6;
  /* color:   #00a8cc; */
}

.labelGrey {
  color: grey;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #d4d8d8;
  opacity: 1; /* Firefox */
}

@media (min-width: 990px) {

  .formField{
    font-size: 1rem;
  }

  .logoSize {
    max-width:12%;
  }

  .checkbox-2x {
    transform: scale(2);
    -webkit-transform: scale(2);
}

}