<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Configuration portal</title>
  <link href='http://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="static/main.css?version=1">
</head>

<body>
<div class="article">
  <div class="row">
    <div class="col-xs-6">
      <a href="/form_direct">Direct</a>
    </div>
    <div class="col-xs-6">
      <a href="/form_iot">IOT</a>
    </div>
  </div>
</div>


</body>
</html>