<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">	
		<title>RAS2 Parameters</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="/static/style.css" type="text/css">
		<link rel="icon" href="/static/faviconThings.ico">

		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
	</head>
	<body class="left-aligned">
  <!-- <body> -->

    <section id="logo">	
      <div class="container-fluid logo-padding" >
        <img src="/static/thingsLogo05_333.png" class="img-fluid logoSize" alt="ThingsInTouch Logo 05">
      </div>
    </section>

    <form action="/result" method="post" id="testform">

      <section id="inputFields">

        <div class="container-fluid">
          <p>
            <label class="login-field-icon fui-lock formField" for="odoo_host">Odoo Host Name or IP Address (*)</label>
            <input type="text" id="odoo_host" name="odoo_host" class="formField" value="" placeholder="demo.odoo.com" required>
          </p>
        </div>
        <div class="container-fluid">
          <p>
            <label class="login-field-icon fui-lock formField" for="odoo_port">Odoo Port</label>
            <input type="text" id="odoo_port" name="odoo_port" class="formField" value="" placeholder="8069" >              
            <label class="labelGrey">(Leave this field empty if you use the default https port 443)</label>
          </p>
        </div>
        <div class="container-fluid custom-checkbox">
          <p>
            <input type="checkbox" id="https" name="https" class="checkbox-input formField" value="https">
            <label class="checkbox-label formField">Check if you use Odoo over https</label>
          </p>
        </div>          
        <div class="container-fluid">
          <p>
            <label class="login-field-icon fui-lock formField" for="user">Username  (*)</label>
            <input type="text" id="user" name="user_name" class="formField" value="" placeholder="Enter username" required>
            <label class="labelGrey">(This User should have Access Rights for the OCA "HR Attendance RFID" Module)</label>
          </p>
        </div>
        <div class="container-fluid">
          <p>
            <label class="login-field-icon fui-lock formField" for="password">Password (*)</label>
            <input type="password" id="password" name="user_password" class="formField" value="" placeholder="Enter password" required>
          </p>
        </div>
        <div class="container-fluid">
          <p>
            <label class="login-field-icon fui-lock formField" for="db">Database (*)</label>
            <input type="text" id="db" name="db" class="formField" value="" placeholder="Enter database name" required>
          </p>
        </div>
        <div class="container-fluid">
          <p>
            <label class="login-field-icon fui-lock formField" for="admin_id">Admin Card (hexadecimal code) (*)</label>
            <input type="text" id="admin_id" name="admin_id" class="formField" value="" placeholder="Enter hex code e.g. beff2c5a" pattern="^([A-Fa-f0-9]{1,20})$" required>
            <label class="labelGrey">Swap the Admin Card on the device to get the hexadecimal code</label>
          </p>
        </div>
        <div class="container-fluid">
          <p>          
            <label class="login-field-icon fui-lock formField" for="timezone">Timezone (*)</label>
            <select name="timezone" form="testform" class="formField" required>
              <option selected class="formField" value="+01:00">(GMT +01:00) {{ tz_dic['+01:00'] }}</option>
              <option value="" disabled>----------------------------------------</option> 
              {% for tz in tz_dic %}
              <option class="formField" value="{{ tz }}">(GMT {{ tz }}) {{ tz_dic[tz] }}</option>
              {% endfor %}
            </select>
          </p>
        </div>          

      </section>


      <section id="buttons">
        <div class="container-fluid">
          <p>
            <button type="submit" class="btn btn-warning formField custom-button-submit">Send to Odoo</button>
          </p>
        </div>
        <div class="container-fluid">
          <p>
            <button type="reset" name="Clear" value="Clear the Form" class="formField btn btn-secondary">Clear the Form</button>
          </p>
        </div>
      </section>

    </form>
  </body>
</html>