<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Configuration portal</title>
  <link href='http://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="static/main.css?version=1">
</head>

<body>
  <form action="/result" method="post" id="testform">
    <h1>Configuration portal</h1>
    <fieldset>
      <legend><span class="number">1</span>Odoo Parameters</legend>
      <label for="name">Odoo Host (*)</label>
      <input type="text" id="odoo_host" name="odoo_host" placeholder="demo.odoo.com" required>
      <label for="name">Port</label>
      <input type="text" id="odoo_port" name="odoo_port" placeholder="8069">
      <label for="https">Click the checkbox if your Odoo employs HTTPS:</label>
      <span>If you use default HTTPS port 443 leave port field empty</span>
      <input type="checkbox" id="https" value="https" name="https"><label class="light" for="https"></label><br>
      <label for="iot_call">Click the checkbox if your Odoo employs IOT Calls: </label>
      <input type="checkbox" id="iot_call" value="iot_call" name="iot_call"><label class="light" for="iot_call"></label><br>
      <label for="user">Username (*)</label>
      <input type="text" id="user" name="user_name" placeholder="rfid_attendance" required>
      <label for="password">Password (*)</label>
      <input type="password" id="password" name="user_password" required>
      <label for="db">Database (*)</label>
      <input type="text" id="db" name="db" required>
      <label for="admin_id">Admin ID (*)</label>
      <span>Swap Admin RFID Card on device to get Admin ID</span>
      <input type="text" id="admin_id" name="admin_id" placeholder="RFID digit hex e.g. FFFFFFFF" pattern="^([A-Fa-f0-9]{1,20})$" required>
      <label for="timezone">Country:</label>
      <select name="timezone" form="testform" required>
        {% for tz in tz_dic %}
        <option value="{{ tz }}">(GMT {{ tz }}) {{ tz_dic[tz] }}</option>
        {% endfor %}
      </select>
    </fieldset>
    <fieldset>
      <legend><span class="number">2</span>Go!</legend>
      <button type="submit">Configure!</button>
      <button type="reset">Reset parameters</button>
    </fieldset>
  </form>
</body>
</html>