<!DOCTYPE html>
   <head>
      <title>{{ title }}</title>
   </head>

   <body>
      <h1>Hello, World!</h1>
      <h2>The date and time on the server is: {{ time }}</h2>
   </body>
   <form action=""http://192.168.1.47:80/result"" method="post">
       <p>Name <input type = "text" name = "Name" /></p>
       <p>Physics <input type = "text" name = "Physics" /></p>
       <p>Chemistry <input type = "text" name = "chemistry" /></p>
       <p>Maths <input type ="text" name = "Mathematics" /></p>
       <p><input type = "submit" value = "submit" /></p>
   </form> 
</html>
