<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Configuration portal</title>
        <link href='http://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="static/main.css?version=1">
    </head>
    <body>
      <form action="http://192.168.1.47/result" method="post">
        
      <h1>Configuration Portal</h1>
        <fieldset>
          <legend><span class="number">1</span> Odoo Parameters</legend>
          <label for="name">Odoo Host:</label>
          <input type="text" id="odoo_host" name="odoo_host">
          <label for="name">Port:</label>
          <input type="text" id="odoo_port" name="odoo_port">
          <label for="user">Username:</label>
          <input type="text" id="user" name="user_name">
          <label for="password">Password:</label>
          <input type="password" id="password" name="user_password">
          <label for="db">Database:</label>
          <input type="text" id="db" name="db">
         
        </fieldset>

        <fieldset>
         <legend><span class="number">2</span> Update software?</legend>
         <label> By clicking this checkbox, the software would be updated when you send the configuration </label>
          <input type="checkbox" id="update" value="update_software" name="update"><label class="light" for="update">Yes/No</label><br>
        </fieldset>
        <fieldset>
          <legend><span class="number">3</span> Go!</legend>
          <button type="submit">Configure!</button>                
          <button type="reset"> Reset parameters </button>
        </fieldset>
          
      </form>
      
      
    </body>
</html>
